<template>
  <div>
    <ion-tabs>
      <ion-tab tab="tab1" :routes="['tab1', 'tab1-details']">
        <ion-vue-router name="tab1"></ion-vue-router>
      </ion-tab>

      <ion-tab tab="tab2" :routes="['tab2']">
        <ion-vue-router name="tab2"></ion-vue-router>
      </ion-tab>

      <ion-tab tab="tab3" :routes="['tab3']">
        <ion-vue-router name="tab3"></ion-vue-router>
      </ion-tab>

      <ion-tab tab="tab4" :routes="['tab4']">
        <ion-vue-router name="tab4"></ion-vue-router>
      </ion-tab>

      <ion-tab-bar slot="bottom">
        <ion-tab-button tab="tab1">
          <img src="../assets/images/ic-toolbar-db-d.png">
          <ion-label>Dashboard</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="tab2">
          <img src="../assets/images/ic-toolbar-timeline-d.png">
          <ion-label>Timeline</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="tab3">
          <ion-icon name="pin" />
          <ion-label>Nearby</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="tab4">
          <ion-icon name="trophy" />
          <ion-label>Challenge</ion-label>
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>
  </div>
</template>

<script>
import { contacts, map, pin, list, trophy, speedometer } from "ionicons/icons";
import { addIcons } from "ionicons";
addIcons({
  "ios-pin": pin.ios,
  "md-pin": pin.md,
  "ios-list": list.ios,
  "md-list": list.md,
  "ios-trophy": trophy.ios,
  "md-trophy": trophy.md,
  "ios-speedometer": speedometer.ios,
  "md-speedometer": speedometer.md
});
export default {
  name: "Home",
  props: {}
};
</script>