    
<template>
  <ion-page class="ion-page">
    <ion-header>
      <ion-toolbar color="primary">
        <ion-title>Dashboard</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content padding>
      <ion-item>Dashboard detail here</ion-item>
    </ion-content>
  </ion-page>
</template>

<script>
export default {
  name: "tab1"
};
</script>

<style>
</style>
