    
<template>
  <ion-page class="ion-page">
    <ion-header>
      <ion-toolbar color="primary">
        <ion-title>Cardio Challenges</ion-title>
      </ion-toolbar>
      <v-text-field
        solo
        v-model="searchbox"
        placeholder="Search for a Challenge"
        prepend-inner-icon="search"
      ></v-text-field>
    </ion-header>
    <ion-content padding>
      <v-app>
        <v-card>
          <v-slider
            v-model="searchslide"
            :tick-labels="ticksLabels"
            :thumb-size="40"
            thumb-label="always"
            :max="3"
            :min="1"
            step="1"
            tick-size="3"
          >
          <template v-slot:thumb-label="props">
            <v-icon dark>
              mdi-fire
            </v-icon>
          </template>
          </v-slider>
        </v-card>
        <v-card height="30">
        </v-card>
        <v-card v-for="item in filteredItems">
          <v-img
            :src="item.url"
            height="100px"
            position="unset"
          ></v-img>

          <v-card-title>
            {{item.title}}
          </v-card-title>

          <v-card-actions>
            <v-btn 
              small 
              text
              color="orange"
            >
            <v-img
              :src="require('../assets/images/ic-dot.png')"
              position="unset"
            ></v-img>
            {{item.level}}</v-btn>
            <v-btn
              color="dark-grey"
              text
              small
            >
            <v-img
              :src="require('../assets/images/ic-burn.png')"
              position="unset"
            ></v-img>
              {{item.calories}} Calories
            </v-btn>
            <v-btn
              color="blue"
              small
              text
            >
              +{{item.points}} Points
            </v-btn>
          </v-card-actions>
        </v-card>
      </v-app>
    </ion-content>
  </ion-page>
</template>

<script>
export default {
  name: "tab4",
  methods: {
    nextPage() {
      this.$router.push({ name: "tab1-details" });
    }
  },
  onCreate() {},
  data () {
    return {
      searchbox:'',
      searchslide:'',
      value: 0,
      fruits: 0,
      show: false,
      ticksLabels: [
        'Beginner',
        'Intermidiate',
        'Advanced'
      ],
      items: [
        {
          "id": "1",
          "url": require("../assets/images/card-02.png"),
          "title": "500 Calories Run",
          "level": "Intermediate",
          "levelnum": "2",
          "calories": "500",
          "points": "100"
        },
        {
          "id": "2",
          "url": require("../assets/images/card-01.png"),
          "title": "2.4 Km Run",
          "level": "Intermediate",
          "levelnum": "2",
          "calories": "640",
          "points": "100"
        },
        {
          "id": "3",
          "url": require("../assets/images/card-02.png"),
          "title": "20 Km Run",
          "level": "Advanced",
          "levelnum": "3",
          "calories": "1000",
          "points": "200"
        },
        {
          "id": "4",
          "url": require("../assets/images/card-01.png"),
          "title": "40 Km Run",
          "level": "Advanced",
          "levelnum": "3",
          "calories": "2000",
          "points": "400"
        },
        {
          "id": "5",
          "url": require("../assets/images/card-01.png"),
          "title": "100 Calories Run",
          "level": "Beginner",
          "levelnum": "1",
          "calories": "100",
          "points": "50"
        },
      ]
    }
  },
  computed:{
    filteredItems:function(){
      return this.items.filter((item) => {
        var box = item.title.toLowerCase().match(this.searchbox.toLowerCase()),
        slider = (item.levelnum == this.searchslide) || (this.searchslide == '');
        return box && slider;
      });
    },
  },
};
</script>

<style>
</style>
